
all_companies_json_text.txt
all_companies_json_text.json
NSE_data/Companies_data/3MINDIA.csv
NSE_data/Companies_data/AARTIDRUGS.csv
NSE_data/Companies_data/AARTIIND.csv
NSE_data/Companies_data/AAVAS.csv
NSE_data/Companies_data/ABB.csv
NSE_data/Companies_data/ABBOTINDIA.csv
NSE_data/Companies_data/ABCAPITAL.csv
NSE_data/Companies_data/ABFRL.csv
NSE_data/Companies_data/ACC.csv
NSE_data/Companies_data/ADANIENT.csv
NSE_data/Companies_data/ADANIGREEN.csv
NSE_data/Companies_data/ADANIPORTS.csv
NSE_data/Companies_data/ADANITRANS.csv
NSE_data/Companies_data/ADVENZYMES.csv
NSE_data/Companies_data/AEGISCHEM.csv
NSE_data/Companies_data/AFFLE.csv
NSE_data/Companies_data/AIAENG.csv
NSE_data/Companies_data/AJANTPHARM.csv
NSE_data/Companies_data/AKZOINDIA.csv
NSE_data/Companies_data/ALEMBICLTD.csv
NSE_data/Companies_data/ALKEM.csv
NSE_data/Companies_data/ALKYLAMINE.csv
NSE_data/Companies_data/ALOKINDS.csv
NSE_data/Companies_data/AMARAJABAT.csv
NSE_data/Companies_data/AMBER.csv
NSE_data/Companies_data/AMBUJACEM.csv
NSE_data/Companies_data/APLAPOLLO.csv
NSE_data/Companies_data/APLLTD.csv
NSE_data/Companies_data/APOLLOHOSP.csv
NSE_data/Companies_data/APOLLOTYRE.csv
NSE_data/Companies_data/ASHOKA.csv
NSE_data/Companies_data/ASHOKLEY.csv
NSE_data/Companies_data/ASIANPAINT.csv
NSE_data/Companies_data/ASTERDM.csv
NSE_data/Companies_data/ASTRAL.csv
NSE_data/Companies_data/ASTRAZEN.csv
NSE_data/Companies_data/ATGL.csv
NSE_data/Companies_data/ATUL.csv
NSE_data/Companies_data/AUBANK.csv
NSE_data/Companies_data/AUROPHARMA.csv
NSE_data/Companies_data/AVANTIFEED.csv
NSE_data/Companies_data/AXISBANK.csv
NSE_data/Companies_data/BAJAJ-AUTO.csv
NSE_data/Companies_data/BAJAJCON.csv
NSE_data/Companies_data/BAJAJELEC.csv
NSE_data/Companies_data/BAJAJFINSV.csv
NSE_data/Companies_data/BAJAJHLDNG.csv
NSE_data/Companies_data/BAJFINANCE.csv
NSE_data/Companies_data/BALKRISIND.csv
NSE_data/Companies_data/BALMLAWRIE.csv
NSE_data/Companies_data/BALRAMCHIN.csv
NSE_data/Companies_data/BANDHANBNK.csv
NSE_data/Companies_data/BANKBARODA.csv
NSE_data/Companies_data/BANKINDIA.csv
NSE_data/Companies_data/BASF.csv
NSE_data/Companies_data/BATAINDIA.csv
NSE_data/Companies_data/BAYERCROP.csv
NSE_data/Companies_data/BBTC.csv
NSE_data/Companies_data/BDL.csv
NSE_data/Companies_data/BEL.csv
NSE_data/Companies_data/BEML.csv
NSE_data/Companies_data/BERGEPAINT.csv
NSE_data/Companies_data/BHARATFORG.csv
NSE_data/Companies_data/BHARATRAS.csv
NSE_data/Companies_data/BHARTIARTL.csv
NSE_data/Companies_data/BHEL.csv
NSE_data/Companies_data/BIOCON.csv
NSE_data/Companies_data/BIRLACORPN.csv
NSE_data/Companies_data/BLISSGVS.csv
NSE_data/Companies_data/BLUEDART.csv
NSE_data/Companies_data/BLUESTARCO.csv
NSE_data/Companies_data/BOMDYEING.csv
NSE_data/Companies_data/BOSCHLTD.csv
NSE_data/Companies_data/BPCL.csv
NSE_data/Companies_data/BRIGADE.csv
NSE_data/Companies_data/BRITANNIA.csv
NSE_data/Companies_data/BSE.csv
NSE_data/Companies_data/BSOFT.csv
NSE_data/Companies_data/CADILAHC.csv
NSE_data/Companies_data/CANBK.csv
NSE_data/Companies_data/CANFINHOME.csv
NSE_data/Companies_data/CAPLIPOINT.csv
NSE_data/Companies_data/CARBORUNIV.csv
NSE_data/Companies_data/CARERATING.csv
NSE_data/Companies_data/CASTROLIND.csv
NSE_data/Companies_data/CCL.csv
NSE_data/Companies_data/CDSL.csv
NSE_data/Companies_data/CEATLTD.csv
NSE_data/Companies_data/CENTRALBK.csv
NSE_data/Companies_data/CENTURYPLY.csv
NSE_data/Companies_data/CENTURYTEX.csv
NSE_data/Companies_data/CERA.csv
NSE_data/Companies_data/CESC.csv
NSE_data/Companies_data/CGCL.csv
NSE_data/Companies_data/CHALET.csv
NSE_data/Companies_data/CHAMBLFERT.csv
NSE_data/Companies_data/CHENNPETRO.csv
NSE_data/Companies_data/CHOLAFIN.csv
NSE_data/Companies_data/CHOLAHLDNG.csv
NSE_data/Companies_data/CIPLA.csv
NSE_data/Companies_data/COALINDIA.csv
NSE_data/Companies_data/COCHINSHIP.csv
NSE_data/Companies_data/COFORGE.csv
NSE_data/Companies_data/COLPAL.csv
NSE_data/Companies_data/CONCOR.csv
NSE_data/Companies_data/COROMANDEL.csv
NSE_data/Companies_data/CREDITACC.csv
NSE_data/Companies_data/CRISIL.csv
NSE_data/Companies_data/CROMPTON.csv
NSE_data/Companies_data/CSBBANK.csv
NSE_data/Companies_data/CUB.csv
NSE_data/Companies_data/CUMMINSIND.csv
NSE_data/Companies_data/CYIENT.csv
NSE_data/Companies_data/DABUR.csv
NSE_data/Companies_data/DALBHARAT.csv
NSE_data/Companies_data/DBCORP.csv
NSE_data/Companies_data/DBL.csv
NSE_data/Companies_data/DCAL.csv
NSE_data/Companies_data/DCBBANK.csv
NSE_data/Companies_data/DCMSHRIRAM.csv
NSE_data/Companies_data/DEEPAKNTR.csv
NSE_data/Companies_data/DELTACORP.csv
NSE_data/Companies_data/DHANI.csv
NSE_data/Companies_data/DHANUKA.csv
NSE_data/Companies_data/DISHTV.csv
NSE_data/Companies_data/DIVISLAB.csv
NSE_data/Companies_data/DIXON.csv
NSE_data/Companies_data/DLF.csv
NSE_data/Companies_data/DMART.csv
NSE_data/Companies_data/DRREDDY.csv
NSE_data/Companies_data/ECLERX.csv
NSE_data/Companies_data/EDELWEISS.csv
NSE_data/Companies_data/EICHERMOT.csv
NSE_data/Companies_data/EIDPARRY.csv
NSE_data/Companies_data/EIHOTEL.csv
NSE_data/Companies_data/ELGIEQUIP.csv
NSE_data/Companies_data/EMAMILTD.csv
NSE_data/Companies_data/ENDURANCE.csv
NSE_data/Companies_data/ENGINERSIN.csv
NSE_data/Companies_data/EPL.csv
NSE_data/Companies_data/EQUITAS.csv
NSE_data/Companies_data/ERIS.csv
NSE_data/Companies_data/ESABINDIA.csv
NSE_data/Companies_data/ESCORTS.csv
NSE_data/Companies_data/EXIDEIND.csv
NSE_data/Companies_data/FCONSUMER.csv
NSE_data/Companies_data/FDC.csv
NSE_data/Companies_data/FEDERALBNK.csv
NSE_data/Companies_data/FINCABLES.csv
NSE_data/Companies_data/FINEORG.csv
NSE_data/Companies_data/FINPIPE.csv
NSE_data/Companies_data/FLUOROCHEM.csv
NSE_data/Companies_data/FORTIS.csv
NSE_data/Companies_data/FRETAIL.csv
NSE_data/Companies_data/FSL.csv
NSE_data/Companies_data/GAEL.csv
NSE_data/Companies_data/GAIL.csv
NSE_data/Companies_data/GALAXYSURF.csv
NSE_data/Companies_data/GARFIBRES.csv
NSE_data/Companies_data/GEPIL.csv
NSE_data/Companies_data/GESHIP.csv
NSE_data/Companies_data/GHCL.csv
NSE_data/Companies_data/GICRE.csv
NSE_data/Companies_data/GILLETTE.csv
NSE_data/Companies_data/GLAXO.csv
NSE_data/Companies_data/GLENMARK.csv
NSE_data/Companies_data/GMDCLTD.csv
NSE_data/Companies_data/GMMPFAUDLR.csv
NSE_data/Companies_data/GMRINFRA.csv
NSE_data/Companies_data/GNFC.csv
NSE_data/Companies_data/GODFRYPHLP.csv
NSE_data/Companies_data/GODREJAGRO.csv
NSE_data/Companies_data/GODREJCP.csv
NSE_data/Companies_data/GODREJIND.csv
NSE_data/Companies_data/GODREJPROP.csv
NSE_data/Companies_data/GPPL.csv
NSE_data/Companies_data/GRANULES.csv
NSE_data/Companies_data/GRAPHITE.csv
NSE_data/Companies_data/GRASIM.csv
NSE_data/Companies_data/GREAVESCOT.csv
NSE_data/Companies_data/GRINDWELL.csv
NSE_data/Companies_data/GRSE.csv
NSE_data/Companies_data/GSFC.csv
NSE_data/Companies_data/GSPL.csv
NSE_data/Companies_data/GUJALKALI.csv
NSE_data/Companies_data/GUJGASLTD.csv
NSE_data/Companies_data/GULFOILLUB.csv
NSE_data/Companies_data/HAL.csv
NSE_data/Companies_data/HATHWAY.csv
NSE_data/Companies_data/HATSUN.csv
NSE_data/Companies_data/HAVELLS.csv
NSE_data/Companies_data/HCLTECH.csv
NSE_data/Companies_data/HDFC.csv
NSE_data/Companies_data/HDFCAMC.csv
NSE_data/Companies_data/HDFCBANK.csv
NSE_data/Companies_data/HDFCLIFE.csv
NSE_data/Companies_data/HEG.csv
NSE_data/Companies_data/HEIDELBERG.csv
NSE_data/Companies_data/HERITGFOOD.csv
NSE_data/Companies_data/HEROMOTOCO.csv
NSE_data/Companies_data/HFCL.csv
NSE_data/Companies_data/HINDALCO.csv
NSE_data/Companies_data/HINDCOPPER.csv
NSE_data/Companies_data/HINDPETRO.csv
NSE_data/Companies_data/HINDUNILVR.csv
NSE_data/Companies_data/HINDZINC.csv
NSE_data/Companies_data/HONAUT.csv
NSE_data/Companies_data/HSCL.csv
NSE_data/Companies_data/HUDCO.csv
NSE_data/Companies_data/HUHTAMAKI.csv
NSE_data/Companies_data/IBREALEST.csv
NSE_data/Companies_data/IBULHSGFIN.csv
NSE_data/Companies_data/ICICIBANK.csv
NSE_data/Companies_data/ICICIGI.csv
NSE_data/Companies_data/ICICIPRULI.csv
NSE_data/Companies_data/ICRA.csv
NSE_data/Companies_data/IDBI.csv
NSE_data/Companies_data/IDEA.csv
NSE_data/Companies_data/IDFC.csv
NSE_data/Companies_data/IDFCFIRSTB.csv
NSE_data/Companies_data/IEX.csv
NSE_data/Companies_data/IFBIND.csv
NSE_data/Companies_data/IGL.csv
NSE_data/Companies_data/IIFL.csv
NSE_data/Companies_data/IIFLWAM.csv
NSE_data/Companies_data/INDHOTEL.csv
NSE_data/Companies_data/INDIACEM.csv
NSE_data/Companies_data/INDIAMART.csv
NSE_data/Companies_data/INDIANB.csv
NSE_data/Companies_data/INDIGO.csv
NSE_data/Companies_data/INDOCO.csv
NSE_data/Companies_data/INDUSINDBK.csv
NSE_data/Companies_data/INDUSTOWER.csv
NSE_data/Companies_data/INFY.csv
NSE_data/Companies_data/INGERRAND.csv
NSE_data/Companies_data/INOXLEISUR.csv
NSE_data/Companies_data/IOB.csv
NSE_data/Companies_data/IOC.csv
NSE_data/Companies_data/IOLCP.csv
NSE_data/Companies_data/IPCALAB.csv
NSE_data/Companies_data/IRB.csv
NSE_data/Companies_data/IRCON.csv
NSE_data/Companies_data/IRCTC.csv
NSE_data/Companies_data/ISEC.csv
NSE_data/Companies_data/ITC.csv
NSE_data/Companies_data/ITI.csv
NSE_data/Companies_data/J&KBANK.csv
NSE_data/Companies_data/JAGRAN.csv
NSE_data/Companies_data/JAICORPLTD.csv
NSE_data/Companies_data/JAMNAAUTO.csv
NSE_data/Companies_data/JBCHEPHARM.csv
NSE_data/Companies_data/JCHAC.csv
NSE_data/Companies_data/JINDALSAW.csv
NSE_data/Companies_data/JINDALSTEL.csv
NSE_data/Companies_data/JKCEMENT.csv
NSE_data/Companies_data/JKLAKSHMI.csv
NSE_data/Companies_data/JKPAPER.csv
NSE_data/Companies_data/JKTYRE.csv
NSE_data/Companies_data/JMFINANCIL.csv
NSE_data/Companies_data/JSL.csv
NSE_data/Companies_data/JSLHISAR.csv
NSE_data/Companies_data/JSWENERGY.csv
NSE_data/Companies_data/JSWSTEEL.csv
NSE_data/Companies_data/JTEKTINDIA.csv
NSE_data/Companies_data/JUBLFOOD.csv
NSE_data/Companies_data/JUSTDIAL.csv
NSE_data/Companies_data/JYOTHYLAB.csv
NSE_data/Companies_data/KAJARIACER.csv
NSE_data/Companies_data/KALPATPOWR.csv
NSE_data/Companies_data/KANSAINER.csv
NSE_data/Companies_data/KARURVYSYA.csv
NSE_data/Companies_data/KEC.csv
NSE_data/Companies_data/KEI.csv
NSE_data/Companies_data/KNRCON.csv
NSE_data/Companies_data/KOLTEPATIL.csv
NSE_data/Companies_data/KOTAKBANK.csv
NSE_data/Companies_data/KRBL.csv
NSE_data/Companies_data/KSB.csv
NSE_data/Companies_data/KSCL.csv
NSE_data/Companies_data/KTKBANK.csv
NSE_data/Companies_data/L&TFH.csv
NSE_data/Companies_data/LALPATHLAB.csv
NSE_data/Companies_data/LAOPALA.csv
NSE_data/Companies_data/LAURUSLABS.csv
NSE_data/Companies_data/LAXMIMACH.csv
NSE_data/Companies_data/LEMONTREE.csv
NSE_data/Companies_data/LICHSGFIN.csv
NSE_data/Companies_data/LINDEINDIA.csv
NSE_data/Companies_data/LT.csv
NSE_data/Companies_data/LTI.csv
NSE_data/Companies_data/LTTS.csv
NSE_data/Companies_data/LUPIN.csv
NSE_data/Companies_data/LUXIND.csv
NSE_data/Companies_data/M&M.csv
NSE_data/Companies_data/M&MFIN.csv
NSE_data/Companies_data/MAHABANK.csv
NSE_data/Companies_data/MAHINDCIE.csv
NSE_data/Companies_data/MAHLOG.csv
NSE_data/Companies_data/MAHSCOOTER.csv
NSE_data/Companies_data/MAHSEAMLES.csv
NSE_data/Companies_data/MANAPPURAM.csv
NSE_data/Companies_data/MARICO.csv
NSE_data/Companies_data/MARUTI.csv
NSE_data/Companies_data/MASFIN.csv
NSE_data/Companies_data/MCDOWELL-N.csv
NSE_data/Companies_data/MCX.csv
NSE_data/Companies_data/METROPOLIS.csv
NSE_data/Companies_data/MFSL.csv
NSE_data/Companies_data/MGL.csv
NSE_data/Companies_data/MHRIL.csv
NSE_data/Companies_data/MIDHANI.csv
NSE_data/Companies_data/MINDACORP.csv
NSE_data/Companies_data/MINDAIND.csv
NSE_data/Companies_data/MINDTREE.csv
NSE_data/Companies_data/MMTC.csv
NSE_data/Companies_data/MOIL.csv
NSE_data/Companies_data/MOTHERSUMI.csv
NSE_data/Companies_data/MOTILALOFS.csv
NSE_data/Companies_data/MPHASIS.csv
NSE_data/Companies_data/MRF.csv
NSE_data/Companies_data/MRPL.csv
NSE_data/Companies_data/MUTHOOTFIN.csv
NSE_data/Companies_data/NAM-INDIA.csv
NSE_data/Companies_data/NATCOPHARM.csv
NSE_data/Companies_data/NATIONALUM.csv
NSE_data/Companies_data/NAUKRI.csv
NSE_data/Companies_data/NAVINFLUOR.csv
NSE_data/Companies_data/NAVNETEDUL.csv
NSE_data/Companies_data/NBCC.csv
NSE_data/Companies_data/NCC.csv
NSE_data/Companies_data/NESCO.csv
NSE_data/Companies_data/NESTLEIND.csv
NSE_data/Companies_data/NETWORK18.csv
NSE_data/Companies_data/NFL.csv
NSE_data/Companies_data/NH.csv
NSE_data/Companies_data/NHPC.csv
NSE_data/Companies_data/NIACL.csv
NSE_data/Companies_data/NILKAMAL.csv
NSE_data/Companies_data/NLCINDIA.csv
NSE_data/Companies_data/NMDC.csv
NSE_data/Companies_data/NOCIL.csv
NSE_data/Companies_data/NTPC.csv
NSE_data/Companies_data/OBEROIRLTY.csv
NSE_data/Companies_data/OFSS.csv
NSE_data/Companies_data/OIL.csv
NSE_data/Companies_data/OMAXE.csv
NSE_data/Companies_data/ONGC.csv
NSE_data/Companies_data/ORIENTCEM.csv
NSE_data/Companies_data/ORIENTELEC.csv
NSE_data/Companies_data/ORIENTREF.csv
NSE_data/Companies_data/PAGEIND.csv
NSE_data/Companies_data/PEL.csv
NSE_data/Companies_data/PERSISTENT.csv
NSE_data/Companies_data/PETRONET.csv
NSE_data/Companies_data/PFC.csv
NSE_data/Companies_data/PFIZER.csv
NSE_data/Companies_data/PGHH.csv
NSE_data/Companies_data/PGHL.csv
NSE_data/Companies_data/PHILIPCARB.csv
NSE_data/Companies_data/PHOENIXLTD.csv
NSE_data/Companies_data/PIDILITIND.csv
NSE_data/Companies_data/PIIND.csv
NSE_data/Companies_data/PNB.csv
NSE_data/Companies_data/PNBHOUSING.csv
NSE_data/Companies_data/PNCINFRA.csv
NSE_data/Companies_data/POLYCAB.csv
NSE_data/Companies_data/POLYMED.csv
NSE_data/Companies_data/POLYPLEX.csv
NSE_data/Companies_data/POWERGRID.csv
NSE_data/Companies_data/POWERINDIA.csv
NSE_data/Companies_data/PRAJIND.csv
NSE_data/Companies_data/PRESTIGE.csv
NSE_data/Companies_data/PRSMJOHNSN.csv
NSE_data/Companies_data/PSPPROJECT.csv
NSE_data/Companies_data/PTC.csv
NSE_data/Companies_data/PVR.csv
NSE_data/Companies_data/QUESS.csv
NSE_data/Companies_data/RADICO.csv
NSE_data/Companies_data/RAIN.csv
NSE_data/Companies_data/RAJESHEXPO.csv
NSE_data/Companies_data/RALLIS.csv
NSE_data/Companies_data/RAMCOCEM.csv
NSE_data/Companies_data/RATNAMANI.csv
NSE_data/Companies_data/RAYMOND.csv
NSE_data/Companies_data/RBLBANK.csv
NSE_data/Companies_data/RCF.csv
NSE_data/Companies_data/RECLTD.csv
NSE_data/Companies_data/REDINGTON.csv
NSE_data/Companies_data/RELAXO.csv
NSE_data/Companies_data/RELIANCE.csv
NSE_data/Companies_data/RITES.csv
NSE_data/Companies_data/RVNL.csv
NSE_data/Companies_data/SAIL.csv
NSE_data/Companies_data/SANOFI.csv
NSE_data/Companies_data/SBICARD.csv
NSE_data/Companies_data/SBILIFE.csv
NSE_data/Companies_data/SBIN.csv
NSE_data/Companies_data/SCHAEFFLER.csv
NSE_data/Companies_data/SCHNEIDER.csv
NSE_data/Companies_data/SCI.csv
NSE_data/Companies_data/SEQUENT.csv
NSE_data/Companies_data/SFL.csv
NSE_data/Companies_data/SHILPAMED.csv
NSE_data/Companies_data/SHOPERSTOP.csv
NSE_data/Companies_data/SHREECEM.csv
NSE_data/Companies_data/SHRIRAMCIT.csv
NSE_data/Companies_data/SIEMENS.csv
NSE_data/Companies_data/SIS.csv
NSE_data/Companies_data/SJVN.csv
NSE_data/Companies_data/SKFINDIA.csv
NSE_data/Companies_data/SOBHA.csv
NSE_data/Companies_data/SOLARA.csv
NSE_data/Companies_data/SOLARINDS.csv
NSE_data/Companies_data/SONATSOFTW.csv
NSE_data/Companies_data/SOUTHBANK.csv
NSE_data/Companies_data/SPARC.csv
NSE_data/Companies_data/SPICEJET.csv
NSE_data/Companies_data/SRF.csv
NSE_data/Companies_data/SRTRANSFIN.csv
NSE_data/Companies_data/STAR.csv
NSE_data/Companies_data/STARCEMENT.csv
NSE_data/Companies_data/STLTECH.csv
NSE_data/Companies_data/SUDARSCHEM.csv
NSE_data/Companies_data/SUMICHEM.csv
NSE_data/Companies_data/SUNDARMFIN.csv
NSE_data/Companies_data/SUNDRMFAST.csv
NSE_data/Companies_data/SUNPHARMA.csv
NSE_data/Companies_data/SUNTECK.csv
NSE_data/Companies_data/SUNTV.csv
NSE_data/Companies_data/SUPPETRO.csv
NSE_data/Companies_data/SUPRAJIT.csv
NSE_data/Companies_data/SUPREMEIND.csv
NSE_data/Companies_data/SUVENPHAR.csv
NSE_data/Companies_data/SUZLON.csv
NSE_data/Companies_data/SWANENERGY.csv
NSE_data/Companies_data/SWARAJENG.csv
NSE_data/Companies_data/SWSOLAR.csv
NSE_data/Companies_data/SYMPHONY.csv
NSE_data/Companies_data/SYNGENE.csv
NSE_data/Companies_data/TASTYBITE.csv
NSE_data/Companies_data/TATACHEM.csv
NSE_data/Companies_data/TATACOFFEE.csv
NSE_data/Companies_data/TATACOMM.csv
NSE_data/Companies_data/TATACONSUM.csv
NSE_data/Companies_data/TATAELXSI.csv
NSE_data/Companies_data/TATAINVEST.csv
NSE_data/Companies_data/TATAMOTORS.csv
NSE_data/Companies_data/TATAPOWER.csv
NSE_data/Companies_data/TATASTEEL.csv
NSE_data/Companies_data/TATASTLBSL.csv
NSE_data/Companies_data/TCIEXP.csv
NSE_data/Companies_data/TCNSBRANDS.csv
NSE_data/Companies_data/TCS.csv
NSE_data/Companies_data/TEAMLEASE.csv
NSE_data/Companies_data/TECHM.csv
NSE_data/Companies_data/THERMAX.csv
NSE_data/Companies_data/THYROCARE.csv
NSE_data/Companies_data/TIINDIA.csv
NSE_data/Companies_data/TIMKEN.csv
NSE_data/Companies_data/TITAN.csv
NSE_data/Companies_data/TORNTPHARM.csv
NSE_data/Companies_data/TORNTPOWER.csv
NSE_data/Companies_data/TRENT.csv
NSE_data/Companies_data/TRIDENT.csv
NSE_data/Companies_data/TTKPRESTIG.csv
NSE_data/Companies_data/TV18BRDCST.csv
NSE_data/Companies_data/TVSMOTOR.csv
NSE_data/Companies_data/TVTODAY.csv
NSE_data/Companies_data/UBL.csv
NSE_data/Companies_data/UCOBANK.csv
NSE_data/Companies_data/UFLEX.csv
NSE_data/Companies_data/UJJIVAN.csv
NSE_data/Companies_data/UJJIVANSFB.csv
NSE_data/Companies_data/ULTRACEMCO.csv
NSE_data/Companies_data/UNIONBANK.csv
NSE_data/Companies_data/UPL.csv
NSE_data/Companies_data/VAIBHAVGBL.csv
NSE_data/Companies_data/VAKRANGEE.csv
NSE_data/Companies_data/VARROC.csv
NSE_data/Companies_data/VBL.csv
NSE_data/Companies_data/VENKEYS.csv
NSE_data/Companies_data/VGUARD.csv
NSE_data/Companies_data/VINATIORGA.csv
NSE_data/Companies_data/VIPIND.csv
NSE_data/Companies_data/VMART.csv
NSE_data/Companies_data/VOLTAS.csv
NSE_data/Companies_data/VRLLOG.csv
NSE_data/Companies_data/VSTIND.csv
NSE_data/Companies_data/VTL.csv
NSE_data/Companies_data/WABCOINDIA.csv
NSE_data/Companies_data/WELCORP.csv
NSE_data/Companies_data/WELSPUNIND.csv
NSE_data/Companies_data/WESTLIFE.csv
NSE_data/Companies_data/WHIRLPOOL.csv
NSE_data/Companies_data/WIPRO.csv
NSE_data/Companies_data/WOCKPHARMA.csv
NSE_data/Companies_data/YESBANK.csv
NSE_data/Companies_data/ZEEL.csv
NSE_data/Companies_data/ZENSARTECH.csv
NSE_data/Companies_data/ZYDUSWELL.csv
NSE_testing/AAVAS.csv
NSE_testing/ADANIPORTS.csv
NSE_testing/ASIANPAINT.csv
NSE_testing/AXISBANK.csv
NSE_testing/BAJAJ-AUTO.csv
NSE_testing/BAJAJFINSV.csv
NSE_testing/BAJFINANCE.csv
NSE_testing/BHARTIARTL.csv
NSE_testing/BPCL.csv
NSE_testing/BRITANNIA.csv
NSE_testing/CIPLA.csv
NSE_testing/COALINDIA.csv
NSE_testing/DIVISLAB.csv
NSE_testing/DRREDDY.csv
NSE_testing/EICHERMOT.csv
NSE_testing/GAIL.csv
NSE_testing/GRASIM.csv
NSE_testing/HCLTECH.csv
NSE_testing/HDFC.csv
NSE_testing/HDFCBANK.csv
NSE_testing/HDFCLIFE.csv
NSE_testing/HEROMOTOCO.csv
NSE_testing/HINDALCO.csv
NSE_testing/HINDUNILVR.csv
NSE_testing/ICICIBANK.csv
NSE_testing/INDUSINDBK.csv
NSE_testing/INFY.csv
NSE_testing/IOC.csv
NSE_testing/ITC.csv
NSE_testing/JSWSTEEL.csv
NSE_testing/KOTAKBANK.csv
NSE_testing/LT.csv
NSE_testing/M&M.csv
NSE_testing/MARUTI.csv
NSE_testing/NESTLEIND.csv
NSE_testing/NTPC.csv
NSE_testing/ONGC.csv
NSE_testing/POWERGRID.csv
NSE_testing/RELIANCE.csv
NSE_testing/SBILIFE.csv
NSE_testing/SBIN.csv
NSE_testing/SHREECEM.csv
NSE_testing/SUNPHARMA.csv
NSE_testing/TATAMOTORS.csv
NSE_testing/TATASTEEL.csv
NSE_testing/TCS.csv
NSE_testing/TECHM.csv
NSE_testing/TITAN.csv
NSE_testing/ULTRACEMCO.csv
NSE_testing/UPL.csv
NSE_testing/WIPRO.csv
NSE_data/all_companies_list.csv
NSE_data/nseJsonListing.csv
__pycache__/Atom.cpython-37.pyc
__pycache__/sqlite_db_maker.cpython-37.pyc
__pycache__/variable_data.cpython-37.pyc
NSE_data_log.log
testing_2.py
testing.py
